.container {
    padding: 10px;
    font-size: 16px;
}

.heading {
    font-family: 'Open Sans', sans-serif !important;
    text-align: center;
}

.heading i {
    color: black;
}

.heading h1 {
    font-size: 50px;
    font-weight: 680;
    letter-spacing: 3px;
}

.heading h3 {
    font-size: 27px;
    font-weight: 400;
}

.charts {
    padding: 10px 0px;
}

#add-country, #add-country-btn, #add-country2, #add-country-btn2 {
    display: none;
}

.row {
    padding: 0px 0px;
}

div {
    padding: 5px;
}